.btn {
  @apply py-1 px-5 
    rounded-xl
    font-bold
    shadow-md 
    focus:outline-none focus:ring 
    focus:ring-opacity-75 inline-flex items-center 
    justify-center align-middle
    active:ring-2 
    active:ring-opacity-75;
  min-height: 2.5rem;
}

.btn-primary {
  @apply bg-primary text-white 
  hover:bg-primary-700 
  focus:ring-primary-400 
  active:bg-primary-800 
  active:ring-primary-900;
}
