@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer base {
  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button,
  input[type='number'] {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield !important;
  }
}

:root {
  --primary-color: #f25c55;
  --secondary-color: hsl(243, 42%, 25%);
  --third-color: #5c5c7d;
  --medium-color: #9999ac;
  --light-color: #f0f1f5;
  --lightest-color: #ffffff;
  --app-width: 800px;
  --general-shadow: rgb(63 65 68 / 30%) 0px 1px 5px 0px;
}

html,
#root {
  background-color: var(--lightest-color);
}

.body {
  background-color: var(--primary-color);
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

/* Utilities */
.container-wrapper {
  max-width: var(--app-width);
  padding: 0 1rem 2rem 1rem;
  margin: auto;
}

.box {
  background: var(--lightest-color);
  width: 100%;
  padding: 1rem;
  margin: 0 0 1rem 0rem;
  border-radius: 15px;
  box-shadow: var(--general-shadow);
}

.label {
  color: var(--third-color);
  margin-bottom: 0.2rem;
}

.value-col {
  text-align: end;
}

.input {
  background-color: var(--light-color);
  color: var(--secondary-color);
  font-weight: 700;
  font-size: 1rem;
  width: 100%;
  height: 40px;
  border-radius: 15px 0 15px 15px;
  padding: 0.5rem 1rem;
  outline: none;
}

.input:focus {
  border: none;
  background-color: var(--medium-color);
}

.button {
  background-color: var(--primary-color);
  color: var(--lightest-color);
  font-size: 1rem;
  font-weight: bold;
  width: 100%;
  min-height: 40px;
  border-radius: 20px;
  cursor: pointer;
  outline: none;
  transition: box-shadow 275ms, translateY 275ms;
}

.button:hover {
  box-shadow: rgb(0 0 0/ 25%) 0px 4px 4px 0px;
}

.button:focus {
  box-shadow: white 0px 0px 0px 2px, var(--primary-color) 0px 0px 0px 4px;
  outline: none;
}

.button:focus:hover {
  box-shadow: var(--primary-color) 0px 0px 0px 2px,
    rgb(0 0 0/ 25%) 0px 4px 4px 0px;
}

.button:active {
  box-shadow: rgb(0 0 0/ 25%) 0px 0px 2px 0px;
  transform: translateY(2px);
}

.button:focus:active {
  box-shadow: var(--primary-color) 0px 0px 0px 2px,
    rgb(0 0 0/ 25%) 0px 0px 2px 0px;
  transform: translateY(2px);
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.icon-button {
  color: var(--medium-color);
  padding: 0.2rem;
}

.icon-button:hover {
  color: var(--primary-color);
}

.icon-button:active {
  color: var(--secondary-color);
}

.icon-button:focus {
  outline: 1px dashed var(--medium-color);
}

.text-primary {
  color: var(--primary-color);
}

.text-secondary {
  color: var(--secondary-color);
}

.text-light {
  color: var(--medium-color);
}

/* Banner */
.banner {
  background-color: var(--primary-color);
  color: var(--lightest-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  margin-bottom: 1rem;
}

.banner .logo {
  width: 50px;
  height: 32px;
  margin-right: 0.5rem;
}

/* Calculation Panel (Form and Discount Box) */

.calculation-panel {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}

/* Discount Box */

.diplayer__box {
  position: relative;
  height: 100%;
}

.diplayer__box .diplayer__tag img {
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  width: 67px;
  height: 35px;
}

.diplayer__box .diplayer__tag span {
  position: absolute;
  display: block;
  font-size: 0.7rem;
  font-weight: bold;
  top: 10px;
  right: 13px;
  width: 35px;
  text-align: center;
}

.diplayer__box .sale-price {
  font-size: 2rem;
  font-weight: bold;
  color: var(--secondary-color);
}

/* Discount Item  */

.discount-item__header {
  display: flex;
  justify-content: space-between;
}

.discount-item__header .tag {
  background-color: var(--secondary-color);
  color: var(--lightest-color);
  position: absolute;
  top: 0;
  padding: 1rem 1rem 0.5rem 1rem;
  border-radius: 0 0 15px 15px;
}

.discount-item__header .tag span {
  font-size: 0.7rem;
}

.discount-item__header .title {
  color: var(--primary-color);
  width: 70%;
  padding-left: 80px;
}

.discount-item__body {
  padding-top: 1rem;
}

.discount-item__total {
  font-weight: bold;
  padding: 0.5rem 0 0 0;
}

.discount-item__total label {
  color: var(--secondary-color);
  font-size: 1rem;
  margin-bottom: 0;
}

.discount-item__total .value-col {
  color: var(--primary-color);
  font-size: 1.2rem;
}

.cutting-line {
  position: relative;
  border-bottom: 2px dashed var(--light-color);
  margin: 1rem 0.5rem 0rem 0.5rem;
}

.cutting-line::before {
  content: '';
  position: absolute;
  display: block;
  width: 25px;
  height: 25px;
  background-color: #f0f1f5;
  background-color: var(--light-color);
  clip-path: circle(50% at 0 50%);

  left: -25px;
  top: -10px;
}

.cutting-line::after {
  content: '';
  position: absolute;
  display: block;
  width: 25px;
  height: 25px;
  background-color: var(--light-color);
  clip-path: circle(50% at 100% 50%);

  right: -26px;
  top: -10px;
}

/*iOS Installation message*/

.add-home {
  position: fixed;
  bottom: 18px;
  margin-right: 15px;
  padding: 10px 15px;
  border-radius: 15px 0 15px 15px;
  background-color: var(--light-color);
  color: var(--secondary-color);
  text-align: left;

  box-shadow: var(--general-shadow);
}

.add-home-tip {
  position: absolute;
  top: calc(100% - 1px);
  font-size: 1.5rem;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  color: var(--light-color);
  filter: drop-shadow(0 0.19rem 0.1rem rgba(0, 0, 0, 0.1));
}

.add-home__text {
  font-weight: 400;
  font-size: 0.85rem;
}

.add-home__close {
  color: var(--secondary-color);
  position: absolute;
  line-height: 1;
  top: 0;
  right: 5px;
}

/*Media Queries*/

@media (max-width: 600px) {
  .calculation-panel {
    grid-template-columns: 1fr;
    grid-gap: 0;
  }
}
